<h1>add space</h1>
  
<form action="/addspace" method="POST">
    <input type="text" name="name"
        placeholder="name">
    <input type="text" name="addr"
        placeholder="address">
    <input type="number" name="capacity" 
        placeholder="capacity">
    <button>add space</button>
</form>
  
<h1>This is home page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>